[submodule "LarkinLab/vendor/spdlog"]
	path = LarkinLab/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LarkinLab/vendor/GLFW"]
	path = LarkinLab/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "LarkinLab/vendor/imgui"]
	path = LarkinLab/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "LarkinLab/vendor/glm"]
	path = LarkinLab/vendor/glm
	url = https://github.com/g-truc/glm
